@import "../../variables.scss";
.single-post {
  width: 500px;
  margin: 0px auto 100px auto;

  h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 20px;
  }
  .btn {
    display: block;
    text-decoration: none;
    margin-top: 20px;
    button {
      padding: 15px 30px;
      border-radius: 20px 20px 20px 0px;
      margin: auto;
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 16px;
      display: block;
      cursor: pointer;
      background: $primary-color;
      border: none;
      outline: none;
    }
  }
}
