@import "../../variables.scss";
.post__item {
  width: 31%;
  box-shadow: 0px 0px 6px rgba(214, 39, 39, 0.5);
  transition: 0.3s;
  border-radius: 5px;
  margin: 20px 0px 20px 0;
  &:hover {
    transform: scale(1.02);
  }
  a {
    text-decoration: none;
    h4 {
      background-color: $primary-color;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 300;
      font-size: 18px;
      color: white;
      height: 50px;
      border-radius: 0px 0px 5px 5px;
      line-height: 50px;
      margin-bottom: 0;
    }
    img {
      height: 280px;
      width: 100%;
      border-radius: 5px 5px 0 0;
    }
  }
}
